
/* ===============menubarner================= */
.button-banner:hover
{
    position: absolute;
    background-color: #ffffff;
    border-radius: 30px;
    color: #000000;
    font-size: 19.6px;
    font-weight: bolder;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 0.3s ease;
}
.button-banner
{
    position: absolute;
    background-color: #ffffff;
    border-radius: 30px;
    color: #c3bcbc;
    font-size: 15.6px;
    font-weight: bolder;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.bar-banner-container 
{
    width: 860px;
    border-radius: 10px;
    overflow: hidden;
}

.banner .bar-banner {
    display: grid;
    grid-template-columns: repeat(7, auto);
    list-style: none;
    width: max-content;
    transition: transform 0.5s ease;
}
.banner .bar-banner img
{
    width: 860px;height: 326.19px;
}
.banner
{
    margin-top: 20px;
    width: 1200px;
    height: 336px;
    column-gap: 10px;
    display: grid;
    grid-template-columns: auto 392px;
}
.item-2
{
    width: 392px;
    height: 157px;
    border-radius: 10px;
    cursor: pointer;
}
.item-1
{
    position: relative;
    width: 860px;
    height: 326.19px;
    border-radius: 10px;
    cursor: pointer;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item-1 ul
{
    position: absolute;
    display: flex;
    list-style: none;
    left:350px;
    bottom:0;
    color: #ffffff;
    font-size: 15.6px;
    font-weight: bolder;
}
.item-1 ul li
{
    margin-left: 10px;
    width:10px;
    height: 10px;
    background-color: white;
    border-radius: 20px;
}
.item-1 ul li.active {
    margin-left: 10px;
    width: 25px;
    height: 10px;
    background-color: rgb(236, 59, 59);
    border-radius: 20px;
}
/* ===============menubarner================= */
.small-banner
{
    margin-top: 10px;
    height: 336px;
    display: grid;
    grid-template-columns: repeat(4, 297px); 
    column-gap: 20px;
}
.small-banner img
{
    border-radius: 10px;
    cursor: pointer;
}
.menu-item
{
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    width: 1200px;
    height: 100px;
}
.menu-item>.item>img
{
    width: 46px;
    height: 46px;
    cursor: pointer;
}
.menu-item>.item
{
    font-size:14px;
    font-weight: 600;
    text-align: center;
}
/* =====================flash-sale============== */
.menu-flashsale {
    margin-top: 20px;
    padding-top: 20px;
    background-image: url('image/flash_sale_background_image.webp'); /* Thay 'your-image-url.jpg' bằng URL của hình ảnh */
    width: 100%;
    height: 450.29px; /* Chiều cao của menu */
}
.flashsale-content > .flashsale-content-title
{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 1260px;
    height: 62px;
    grid-column-start: 1;
    grid-column-end: 6;
}
.flashsale-content > .flashsale-content-title >img
{
    position: absolute;
    width: 128.7px;
    height: 26px;
    left: 30px;
    top:17px
}
.flashsale-content > .flashsale-content-title >span:nth-child(6)
{
    position: absolute;
    font-size: 15.6px;
    color: #1478FC;
    font-weight: bolder;
    width: 128.7px;
    height: 26px;
    right: 10px;
    top:24px;
    cursor: pointer;
    
}
.flashsale-content > .flashsale-content-title >span:nth-child(7)
{
    position: absolute;
    font-weight: bolder;
    font-size: 19.6px;
    color: #1478FC;
    font-weight: bolder;
    width: 128.7px;
    height: 26px;
    right: -75px;
    top:23px;
    cursor: pointer;
}
.flashsale-content > .flashsale-content-title >span:nth-child(2)
{
    position: absolute;
    font-size: 15.6px;
    font-weight: bolder;
    width: 128.7px;
    height: 26px;
    left: 170px;
    top:24px
}
.flashsale-content > .flashsale-content-title > span:nth-child(3) {
    position: absolute;
    background-color: black;
    border-radius: 6px;
    color: #ffffff;
    font-size: 15.6px;
    font-weight: bolder;
    width: 25px;
    height: 25px;
    left: 290px;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flashsale-content > .flashsale-content-title > span:nth-child(4) {
    position: absolute;
    background-color: black;
    border-radius: 6px;
    color: #ffffff;
    font-size: 15.6px;
    font-weight: bolder;
    width: 25px;
    height: 25px;
    left: 330px;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flashsale-content > .flashsale-content-title > span:nth-child(5) {
    position: absolute;
    background-color: black;
    border-radius: 6px;
    color: #ffffff;
    font-size: 15.6px;
    font-weight: bolder;
    width: 25px;
    height: 25px;
    left: 370px;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-arrow-flashsale
{
    position: absolute;
    transform: rotate(-90deg);
    height: 1px; 
    width: 0px;
    right: 20px;
    bottom: 12px;
}
.flashsale-content > .flashsale-content-column
{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 14px;
    width: 232.4px;
    height: 328.3px;  
}
.flashsale-content > .flashsale-content-column>img
{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 190px;
    height: 190px;
    cursor: pointer;
}
.flashsale-content > .flashsale-content-column>p:nth-child(2)
{
    position: absolute;
    font-size: 14px;
    text-align: left;
    bottom: 75px;
    left:10px;
    cursor: pointer;
}
.flashsale-content > .flashsale-content-column>p:nth-child(3)
{
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color:#C92127;
    bottom: 45px;
    left:10px
}
.flashsale-content > .flashsale-content-column>p:nth-child(5)
{
    position: absolute;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color:#888888;
    bottom: 25px;
    text-decoration: line-through;
    left:10px
}
.flashsale-content > .flashsale-content-column >p:nth-child(6)
{
    position: absolute;
    width: 210px;
    height: 15px;
    background-color: #c1c1c1;
    border-radius: 5px;
    font-size: 13px;
    color: #ffffff;
    bottom: 0;
    left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.flashsale-content > .flashsale-content-column > span {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #C92127;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    bottom: 61px;
    left: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* =====================hallowern============== */

.menu-list
{
    position: relative;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.menu-list > .menulist-title
{
    position: absolute;
    left: 30px;
    top: 10px;
    font-size: 14px;
    font-weight: bold;
    color:#C92127;
    cursor: pointer;
    border-bottom: #C92127 solid 2px;
    height: 31px;
    /* border-bottom: #C92127 solid 2px;
    margin: 11px;
    height: 30px;
    left: 30px;
    top: 40px;
    font-size: 14px;
    font-weight: bold;
    color:#C92127;
    cursor: pointer; */

}
.menu-list > .menulist-content {
    position: absolute;
    display: grid;
    border-top: #888888 solid 1px;
    top: 42px;
    width: 100%;
    height: auto;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
}

.menulist-column {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 236px;
    height: 336px;
    font-size: 50px;
    text-align: center;
}
.menulist-seemore
{
    position: absolute;
    bottom:-25px;
    text-align: center;
    line-height: 35px;
    left: 325px;
}
/* ======================================STLYLE=============================================== */
.img-style-2
{
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100%;
    height: 120px;
    cursor: pointer;
}
.text-style-6 {
    position: absolute;
    font-weight: 300;
    font-size: 11px;
    text-align: left;
    color:#888888;
    bottom: 5px;
    left:10px
}
.text-style-5 {
    position: absolute;
    font-weight: 500;
    width: 150px;
    font-size: 14px;
    bottom: 165px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.img-style-1
{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 195px;
    height: 190px;
    cursor: pointer;
}
.text-style-1
{
    position: absolute;
    font-size: 14px;
    text-align: left;
    bottom: 75px;
    left:10px;
    cursor: pointer;
}
.text-style-2
{
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color:#C92127;
    bottom: 45px;
    left:10px
}
.text-style-3
{
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #C92127;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    bottom: 45px;
    left: 90px;

    display: flex;
    justify-content: center;
    align-items: center;   
}
.text-style-4
{
    position: absolute;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color:#888888;
    bottom: 25px;
    text-decoration: line-through;
    left:10px;

    display: flex;
    justify-content: center;
    align-items: center;   
}
/* ================================================================================================= */
/* DANH MUC SAN PHAM */
.menu-product
{
    position: absolute;
    display: grid;
    border-top: #888888 solid 1px;
    top: 42px;
    width: 100%;
    height: auto;
    column-gap: 10px;
    margin-top: 20px;
    grid-template-columns: repeat(10, auto);
}
.item-product
{
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
    width: auto;
    height: 200px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}
/* ================================================================================================= */
/* Danh Sach Ban Chay */
.block-vote {
    margin: 10px auto;
    padding: 20px;
    width: 1220px; 
    background-color: white;
    display: flex; 
    flex-direction: column; 
    position: relative;
}

.block-vote .header-vote {
    height: 56px;
    top: -20px;
    left: -20px;
    position: relative; 
    background-color: #2E334B;
    color: #ffffff;
    width: 103%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: left; 
    line-height: 38px; 
}

.block-vote .header-menu-content {
    text-align: left;
    margin: 0px 0px 5px; 
    display: flex; 
    list-style-type: none; 
    padding: 0; 
    font-size: 14px; 
}


.block-vote .header-menu-content li {
    display: inline-block; 
    padding: 5px 10px; 
}

.block-vote .header-menu-content li a {
    text-decoration: none; 
    color: #333333; 
    position: relative;
}

.block-vote .header-menu-content li:first-child a {
    color: red; 
}

.block-vote .header-menu-content li a.active {
    color: red; 
}

.block-vote .header-menu-content li a.active::after {
    content: ''; 
    position: absolute;
    bottom: -10px; 
    left: 0; 
    width: 100%; 
    height: 3px; 
    background-color: red; 
}

.block-vote .multibox1 {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    position: relative;
}

.block-vote .multibox1 .box1 {
    width: 512px; /* Chiều rộng box1 */
    height: 580px;
    border-right: 0.2px solid #bdb7b7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.block-vote .multibox1 .box1 .minibox1 {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    text-align: left;
}

.block-vote .multibox1 .box1 .minibox1 a {
    display: flex;
    text-decoration: none; 
    align-items: flex-start; 
    gap: 10px; 
}

.block-vote .multibox1 .box1 .minibox1 a > div:first-child {
    display: flex;
    flex-direction: row; 
}

.block-vote .multibox1 .box1 .minibox1  img {
    width: 100px; 
}

.block-vote .multibox1 .box1 .minibox1 i {
    margin-top: 20px;
    margin-left: -15px;
    font-size: 18px; 
}

.block-vote .multibox1 .box1 .content {
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
}

.block-vote .minibox2 {
    position: absolute;
    bottom: 210px;
    left: 570px;
    width: 650px; /* Đặt chiều rộng cho box2 */
    height: auto; /* Đặt chiều cao tự động để phù hợp với nội dung */
    font-size: 13px;
    padding: 10px;
    display: flex; /* Sử dụng Flexbox */
}

.block-vote .minibox2 img {
    
    margin-left: -40px;
    width: 239px;
    height: 239px;
         /* Khoảng cách giữa ảnh và nội dung */
}



.block-vote .minibox2 .content1 {
    margin-left: 10px;
    width: 430px; /* Để nội dung tự động điều chỉnh chiều rộng */
}
.block-vote .minibox2 .content1 > div:first-of-type {
    /* Thêm các thuộc tính muốn chỉnh sửa cho thẻ div đầu tiên */
    font-size: 18px;
    font-weight: bold; /* Ví dụ: làm đậm chữ */
}
.block-vote .minibox2 .content1 > :nth-of-type(2),
.block-vote .minibox2 .content1 > :nth-of-type(3) {
    /* Thêm các thuộc tính muốn chỉnh sửa cho thẻ div đầu tiên */
    font-size: 14px;
}
.block-vote .minibox2 .content1 > :nth-of-type(4) {
    /* Thêm các thuộc tính muốn chỉnh sửa cho thẻ div đầu tiên */
    font-size: 20px;
    font-weight: bold;
}
.block-vote .minibox2 .content1 .price-container {
    display: flex; /* Để đảm bảo cả hai div nằm trên cùng một hàng */
    flex-direction: row; /* Sắp xếp theo hàng */
    text-align: center; /* Căn giữa nội dung */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.block-vote .minibox2 .content1 .price-container > div {
    position: relative; /* Để cho đường viền có thể định vị chính xác */
}

.block-vote .minibox2 .content1 .price-container .money {
    padding: 5px; /* Khoảng cách trong div */
    margin-right: 10px; /* Khoảng cách bên phải để cách xa % */
}

.block-vote .minibox2 .content1 .price-container .boder {
    position: absolute; /* Định vị tuyệt đối */
    left: 5px; /* Căn trái */
    top: 50%; /* Đặt giữa chiều cao */
    width: 80%; /* Độ dài của đường viền */
    height: 1px; /* Độ dày của đường viền */
    background-color: #2E334B; /* Màu sắc của đường viền */
    transform: translateY(-50%); /* Căn giữa theo chiều dọc */
}


.block-vote .minibox2 .content1 .price-container > :nth-of-type(2) {
    /* Thêm các thuộc tính muốn chỉnh sửa cho thẻ div đầu tiên */
    padding: 5px;
    margin-left: 10px;
    color: #F39845;
    background-color: #FDEAD2;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}
.block-vote .multibox1 .box1 .minibox1 ul{
    list-style-type: none;
    margin-left: -40px;
}
.block-vote .multibox1 .box1 .minibox1 ul li{
    list-style: none;
}
.block-vote .multibox1 .box1 .minibox1 ul li:hover{
    border-right:red solid 0.1px;
}
.block-vote .multibox1 .box1 .minibox2  {
    display: none;
}
.block-vote .multibox1 .box1 .minibox1 ul li.active .minibox2 {
    display: flex;
}
.content-section {
    display: none;
}

.content-section.active1 {
    display: flex;
}
/* ==================================================product-2=================================================== */
/* =====================================================menu-nextpage============================================== */
.menu-nextpage-title
{
    margin-top: 20px;
    background-color: white;
    height: 54px;
    width: 100%;
    border-top-left-radius: 10px ;border-top-right-radius: 10px ;
}
.menu-nextpage-header
{
    background-color: white;
    height: 44px;
    width: 100%; 
}
.menu-nextpage-footer
{
    position: relative;
    display: flex;
    justify-content: center;     /* Canh giữa theo chiều ngang */
    align-items: center;  
    background-color: white;
    height: 84px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu-nextpage-title img
{
    height: 24px;
    width: 24px;
    margin: 15px;
}
.menu-nextpage-title span
{
    position: absolute;
    margin-top: 17px;
    margin-left: -5px;
    font-size: 18px;
    font-weight: bold;
}
.menu-nextpage-header ul
{
    display: flex;
    margin: 0;
    margin-left:-20px;
    list-style: none;
}
.menu-nextpage-header li
{
    margin-top: 10px;
    padding-left: 0;
    margin-right: 30px;
    cursor: pointer;
    
}
.menu-nextpage-content
{
    position: relative;
    margin-top: 2px;
    background-color: white;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.nextpage-animation
{
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(10,auto);
}
.nextpage-column {
    transition: transform 0.5s ease-in-out;
}
.menu-nextpage-content .nextpage-column
{ 
    position: relative;
    width: 236px;
    height: 336px;
    top:10px;
    margin-bottom: 30px;
    font-size: 50px;
    text-align: center;
}
.nextpage-column:hover
{
    box-shadow: 0 0 0 3px rgba(98, 96, 96, 0.1);
}

/* =====================================================menu-nextpage============================================== */
/* ==========================================ads-menu========================================== */
.ads-menu {
    display: grid;
    gap: 17.5px;
    margin-top: 20px;
    grid-template-columns: repeat(4, auto);
    width: 100%;
    justify-content: center;
    height: 318px;
    cursor: pointer;
}

.ads-menu-content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    background-color: #ffffff;
    width: 302px;
    height: 307px;
    border-radius: 10px;
}

.ads-menu-content > .ads-menu-title {
    position: relative;
    display: flex;
    grid-column: 1 / -1;
    width: 100%;
    height: 46px;
}

.ads-menu-content > .ads-menu-background {
    background-color: #457935;
    grid-column: 1 / -1;
    width: 290px;
    height: 166px;
}

.ads-menu-content > img {
    justify-self: center; /* Canh giữa từng ảnh con bên trong grid */
    width: 85px;
    height: 85px;
}
.button-arrow-menu-ads
{
    position: absolute;
    transform: rotate(-90deg);
    height: 25px; width: 25px;
    right: 10px;
    bottom: 12px;
}

/* ===================================== */
.hoverRed
{
    font-weight: 600;
    width: auto;
    color:#C92127;
    border-bottom: #C92127 solid 2px;
    height: 34px;
    
}