.main-menu {
    position: absolute;
    border: #ffffff solid;
    background-color: #ffffff;
    width: 100%;
    height: 129px;
}
.main-menu .sale {
    position: absolute;
    border: #D53829 solid;
    background-color: #D53829;
    width: 100%;
    height: 61px;
    margin: 0;
    padding: 0;
}
/* container//////////////////// */
.header-menu .sale img {
    position: absolute;
    width: 1264px;
    height: 61px;
    max-width: 100%;
}

.header-menu {
    border: #ffffff solid;
    background-color: #ffffff;
    margin: 0;
    width: 1519.2px;
    height: 129px;
    margin: auto;
}

.header-menu .sale {
    border: #D53829 solid;
    background-color: #D53829;
    width: 1519.2px;
    height: 61px;
    margin: 0;
    padding: 0;
}
/*========================bar======*/
.header-menu .bar
{
    position: relative;
    top: 5px;
    width: 1390px;
    height: 65px; 
    display: flex;
    align-items: center;

}

.header-menu .bar .menu
{
    width: 60px;
    height: 100%;  
    display: flex;
    padding-left: 30px;
}
.header-menu .bar .menu .menuMain img
{
    width: 36px;
    height: 36px;
}
.header-menu .bar .menu .seeMore img
{
    width: 16px;
    height: 16px;
    padding-top: 10px;
}
.header-menu .bar .logo img
{
    left:0;
    width: 216.36px;
    height: 36.91px;
}
.header-menu .bar .search
{
    position: relative;
}
.header-menu .bar .search input
{
    width: 585.16px;
    height: 40px;
    padding : 0 0 0 24px;
    border-radius: 10px;
    border: 1px solid #CDCFD0;
    color: #000000;
}
.header-menu .bar li a p
{
    font-size: 12px;
}
.header-menu .bar .search .searchArea
{
    position: absolute;
    width: 72px;
    height: 30px; 
    border-radius: 10px;
    background-color: #C92127;
    border: 2px solid #C92127;
    top:4px;
    right:4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-menu .bar .search .searchArea img
{
    width: 20px;
    height: 20px;
}
.header-menu .bar ul
{
    margin-left: -40px;
    list-style: none;
    display: flex;
    align-items: center;
}
.header-menu .bar ul li img
{ 
    width: 24px;
    height: 24px;
}
.header-menu .bar  ul li
{
    text-align: center;
    width: auto;
    height: 50px;
    color: grey;
    padding-right: 15px;
}
.header-menu .bar  ul li .flag
{
    border: 2px solid grey; 
    width: 74.6px; 
    height: 40px; 
    border-radius: 10px;
    display: flex;
    position: relative;
}
.header-menu .bar  ul li .flag .flagItem img
{
    position: absolute;
    align-items: center;
    left:10px;
    top:7px;
    width: 37px; 
    height: 24px;
}
.header-menu .bar  ul li .flag .seeMore img
{
    position: absolute;
    width: 16px; 
    height: 16px; 
    right: 8px;
    top:12px
}
.header-menu .bar ul li, a
{
    color: grey;
    text-decoration: none;
}
.header-menu .bar ul li, p
{
    margin-top: 0px;
}
/* ===========menu================= */
.header-menu>.bar>ul>li 
{
    position: relative;
}
.header-menu .bar .submenu-main .menuTotal {
    background-color: #FFFFFF;
    width: 1230px;
    height: 555.56px;
    position: absolute;
    display: none;
    left: -230px;
    top: 100%;
    z-index: 1000;
}
.header-menu .bar .submenu-main .menuTotal .sub-menu {
    position: absolute;
    width: 300px;
    height: auto;
    background-color: #ffffff;
    display: block;
    text-align: left;
    top :10px;
    left: 40px;
    padding-left: 5px;
    z-index: 1000;
}

.header-menu .bar .menuNoti
{
    position: absolute;
    width: 264px;
    height: 340px;
    right: 0;
    border-radius: 10px;
    background-color: #ffffff;
    display: none;
    z-index: 1000;
}
.submit-login
{
    position: absolute;
    font-weight: bold;
    color: white;
    font-size: 15px;
    background-color: #C92127;
    border: none;
    width: 200px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px;

    display: flex;               /* Chuyển phần tử thành flex container */
    align-items: center;         /* Canh giữa theo chiều dọc */
    justify-content: center;
}
.submit-register {
    position: absolute;
    font-weight: bold;
    color: #C92127;
    font-size: 15px;
    background-color: #ffffff;
    border: #C92127 solid 2px;
    width: 200px;
    height: 35px;
    cursor: pointer;
    border-radius: 10px; 
    display: flex;               /* Chuyển phần tử thành flex container */
    align-items: center;         /* Canh giữa theo chiều dọc */
    justify-content: center;     /* Canh giữa theo chiều ngang */
}
.header-menu .bar .menuLogin
{
    position: absolute;
    width: 264px;
    height: 100px;
    right: 0;
    border-radius: 10px;
    background-color: #ffffff;
    display: none;
    z-index: 1000;  
}
.header-menu .bar ul li:nth-child(2):hover .submenu-main .menuTotal {
    display: block;
}

.header-menu .bar ul li:nth-child(4):hover .menuNoti {
    display: block;
}
.header-menu .bar ul li:nth-child(6):hover .menuLogin {
    display: block;
}
.header-menu .bar .submenu-main .menuTotal .sub-menu>li 
{
    width: 280px;
    height: 52px;
    left: 0px;
    font-size: 1.23em;
    font-weight: bold;
    color: #000000;
    padding: 0px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
}
    .header-menu .bar .submenu-main .menuTotal .sub-menu li .submenu-title 
    {
        position: absolute;
        display: none;
        font-size: 21px;
        text-align: left;
        width: 400px;
        left : 400px;
        top : 0px;
    }
    .header-menu .bar .submenu-main
    {
        position: relative;
    }
    .header-menu .bar .submenu-main .menuTotal .sub-menu li .submenu-content-four {
        position:absolute;
        display: none;
        top: -17px;
        left: 320px;
        width: 910px;
        padding-left: 10px;
        padding-top: 65px;
        height: 495px;
        z-index: 1000;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .header-menu .bar .submenu-main .menuTotal .sub-menu li .submenu-content-three {
        position:absolute;
        display: none;
        top: -17px;
        left: 320px;
        width: 910px;
        padding-left: 10px;
        padding-top: 65px;
        height: 495px;
        z-index: 1000;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .header-menu .bar .submenu-main .menuTotal .sub-menu li .submenu-content-four>ul,
    .header-menu .bar .submenu-main .menuTotal .sub-menu li .submenu-content-three>ul {
        display: contents;
    }

    .header-menu .bar .submenu-main .menuTotal .sub-menu li .submenu-content-four>ul>ul,
    .header-menu .bar .submenu-main .menuTotal .sub-menu li .submenu-content-three>ul>ul
    {
        align-items:start;
        display: flex;
        flex-direction: column; /* Sắp xếp các mục theo cột */
        justify-content: flex-start;
        gap: 0px;
    }

    .header-menu .bar .submenu-main .menuTotal .sub-menu li .submenu-content-four ul li,
    .header-menu .bar .submenu-main .menuTotal .sub-menu li .submenu-content-three ul li {
        left:0px;
        font-size: 13px;
        height: 25px;
        font-weight: normal;
        color: #000000;
        cursor: pointer;
    }
    .header-menu > .bar > ul > li > .submenu-main > .menuTotal > .sub-menu > li.active .submenu-title,
    .header-menu > .bar > ul > li > .submenu-main > .menuTotal > .sub-menu > li.active .submenu-content-four,
    .header-menu > .bar > ul > li > .submenu-main > .menuTotal > .sub-menu > li.active .submenu-content-three
    {
        display: grid; /* Hoặc display: block; nếu bạn muốn */
    }
/* Kiểu cho mục đầu tiên khi có lớp active */
.header-menu > .bar >ul > li > .submenu-main > .menuTotal > .sub-menu > li.active {
    border-radius: 10px;
    background-color: #F2F4F5;
}

.header-menu .bar .submenu-main .menuTotal .jamp {
    width: 320px;
    height: 100%;
    border-right: 2px solid #CDCFD0;
}
.footer-left {
    flex: 1;
    max-width: 500px;

}
.footer-left img.footer-logo {
    width: 300px;
}
.footer-left p {
    margin: 15px 0;
    line-height: 1.6;
    color: #333;
    font-size: 13px;
}
.bo-cong-thuong img {
    width: 100px;
    margin-top: px;
}
.app-download a img {
    margin-top: 20px;
    width: 120px;
}
.divider {
    width: 1px;
    background-color: #ccc;
    position:left;
    left: 50%;
    top: 0;
    bottom: 0;
    margin: 0 20px;
}
.footer-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.footer-columns .column {
    margin-right: 20px;
}

.footer-columns .column h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.footer-columns .column ul {
    list-style: none;
    padding: 0;
}

.footer-columns .column ul li {
    margin-bottom: 8px;
    font-size: 13px;
    margin-right: 10px;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 0;
}
.contact div {
    flex: 1;
}
.container-contact {
    max-width: 1200px;
    margin: auto;
    padding: 0 5px;
}
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-item .icon {
    font-size: 18px;
    margin-right: 10px;
    color: #333;
}

.contact-item p {
    margin: 0;
    font-size: 13px;
    color: #333;
}
.container3 {
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Đẩy box1 về bên trái */
}
.container3 .multibox4 {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction:row;
    justify-content: flex-start; /* Đẩy box1 về bên trái */
}
.container3 .box1 {
    width: 390px; /* Đặt chiều rộng cho box1 */
    height: 355.44px; /* Đặt chiều cao cố định */
    border-right: 0.2px solid #000000; /* Thêm border nếu cần */
    display: flex;
    flex-direction: column; /* Sắp xếp logo và văn bản theo chiều dọc */
   
    justify-content: flex-start; /* Văn bản nằm dưới logo */
    padding: 10px;
}

.container3 .box1 img {
    width: 300px;
    height: auto; /* Đảm bảo ảnh giữ nguyên tỉ lệ */
    margin-bottom: 10px; /* Thêm khoảng cách dưới logo */
}

.container3 .box1 .text-content {
    text-align: left; /* Căn giữa văn bản */
    font-size: 13px;
    color: #333;
}
.container3 .box1 .img1 img{
    width: 100px;
}
.container3 .box1 .boximg1{
    margin-top: 5px; /* Khoảng cách trên so với logo công thương */
    display: flex;
    justify-content: space-between; /* Phân phối đều các biểu tượng */
    text-align: center;
    gap: 5px; /* Thêm khoảng cách giữa các biểu tượng */
    flex-wrap: nowrap;
}
.container3 .box1 .boximg1 img {
    width: 40px; /* Đặt kích thước nhỏ hơn cho các biểu tượng mạng xã hội */
    height: auto;
} 
.container3 .box1 .boximg2{
    margin-top: 5px; /* Khoảng cách trên so với logo công thương */
    display: flex;
     /* Phân phối đều các biểu tượng */
    text-align: center;
    gap: 15px; /* Thêm khoảng cách giữa các biểu tượng */
    flex-wrap: nowrap;
}
.container3 .box2 {
    margin-left: 10px;
    width: 840px; /* Đặt chiều rộng cho box2 */
    height: auto; /* Đặt chiều cao tự động để phù hợp với nội dung */
    font-size: 13px;
    padding: 10px;
}

.container3 .box2 .multibox1 {
    display: flex; /* Để các minibox nằm ngang */
    justify-content: space-between; /* Phân phối đều các minibox */
    gap: 10px; /* Khoảng cách giữa các minibox */
}

.container3 .box2 .minibox1,
.container3 .box2 .minibox2,
.container3 .box2 .minibox3 {
    text-align: left;
    width: auto; /* Đặt chiều rộng cho mỗi minibox */
    max-height: 185px; /* Đặt chiều cao tự động để phù hợp với nội dung */
}

.container3 .box2 .minibox1 h2,
.container3 .box2 .minibox2 h2,
.container3 .box2 .minibox3 h2 {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px; /* Thêm khoảng cách dưới tiêu đề */
}

.container3 .box2 h3 {
    margin-top: 30px; /* Giảm khoảng cách trên cho "LIÊN HỆ" */
    text-align: left; /* Căn lề bên trái */
    font-size: 16px; /* Kích thước chữ cho tiêu đề "LIÊN HỆ" */
    align-self: flex-start; /* Đẩy "LIÊN HỆ" về bên trái */
}
.container3 .box2 .multibox2 {
    display: flex; /* Để các minibox nằm ngang */

    gap: 130px; /* Khoảng cách giữa các minibox */
}
.container3 .box2 .multibox2 .box4,
.container3 .box2 .multibox2 .box5,
.container3 .box2 .multibox2 .box6 {
    display: flex; /* Để các minibox nằm ngang */
    justify-content: space-between; /* Phân phối đều các minibox */
    gap: 10px; /* Khoảng cách giữa các minibox */
}

.container3 .box2 .multibox3 .img1{
    margin-top: 10px;
    max-height: 80px;
    display: flex; /* Để các minibox nằm ngang */
    justify-content: space-between; /* Phân phối đều các minibox */
    gap: 10px; /* Khoảng cách giữa các minibox */
}

.container3 .box2 .multibox3 .box7 .img2{
    margin-left: 80px;
    margin-top: 15px;
    max-height: 80px;
    text-align: center;
    
    display: flex; /* Để các minibox nằm ngang */
    justify-content: space-between; /* Phân phối đều các minibox */
    gap: 200px; /* Khoảng cách giữa các minibox */
}
.container3 .box2 .multibox3 .box7 {
    margin-top: 15px;
    max-height: 80px;
    display: flex; /* Để các minibox nằm ngang */
    justify-content: center; /* Phân phối đều các minibox */
}
.container3 .box8 {
    display: flex;
    justify-content: center; /* Căn giữa nội dung của box8 */
    align-items: center; /* Căn giữa theo chiều dọc nếu cần */
    padding: 20px 0; /* Thêm khoảng cách phía trên và dưới */
}

.container3 .box8 .footer-text {
    text-align: center;
    margin-top: 0; /* Điều chỉnh margin-top nếu cần */
    font-size: 13px;
    color: #333;
    line-height: 1.5; /* Đảm bảo văn bản có khoảng cách giữa các dòng dễ đọc */
}
.container2 {
    margin: 40px auto 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    background-color: #9FA7AB;
    display: flex;
    justify-content: center; /* Căn giữa container theo chiều ngang */
    align-items: center; /* Căn giữa các phần tử bên trong theo chiều dọc */
    text-align: center;
}

.container2 > div {
    display: flex; /* Để xếp hàng ngang cho nội dung bên trong */
    justify-content: center; /* Căn giữa nội dung bên trong */
    align-items: center; /* Căn giữa theo chiều dọc */
    width: 100%;
}

.container2 .bar {
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center; /* Căn giữa nội dung của bar theo chiều dọc */
    margin-right: 20px; /* Thêm khoảng cách giữa bar và input */
}

.container2 .search {
    position: relative;
    display: flex;
    align-items: center; /* Căn giữa input và button theo chiều dọc */
}

.container2 .search input {
    width: 400px;
    height: 50px;
    padding: 0 80px 0 24px;
    border-radius: 5px;
    border: 1px solid #CDCFD0;
    color: #000000;
}

.container2 .search .searchArea {
    position: absolute;
    width: 115px;
    height: 41px;
    border-radius: 5px;
    background-color: #F7941E;
    top: 4px;
    right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.containerr {
    position: relative;
    width: 100%; /* Adjust width as needed */
    margin: 40px auto 30px;
    overflow: hidden;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.logo-container a {
    flex: 0 0 120px; /* Width of each logo */
    margin: 0 10px;
}

.logo-container img {
    width: 100%;
    height: 130px;
}

.arrow {
    position: absolute;
    top: 40%;
    transform: translateY(-20%);
    background-color: white;
    color: black;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 10;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid white;
}

.arrow-right {
    right: 10px;
}

.arrow-left {
    left: 10px;
}
.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: left;
    padding-bottom: 22px;
    padding-top: 22px;
    margin-top: 20px;
    margin-bottom: 1px;
    width: 100%;
   
}

.navbar a {
    color: black;
    padding: 0px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
.navbar a:hover {
    background-color: white;
    color: #c92127;
    transition: 0.3s;
}

.outer-container {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.container0 {
    display: flex;
    padding-left: 40px;
    transition: transform 0.5s ease;
}
.item0 {
    text-align: left;
    margin-right: 75px;
    width: 180px;
    flex-shrink: 0;
}
.item0 p {
    font-size: 16px;
    line-height: 1.0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;   
}
.item0 img {
    width: 100%;
    height: 200px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.price {
    color: #c92127;
    font-weight: bold;
}
.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
}
.discount {
    color: white;
    background-color: #c92127;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 5px;
}
.xemthem {
    text-align: center;
    margin: 20px;
}
.xemthem a {
    padding: 10px 30px;
    background-color: white;
    color: #c92127;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: solid #c92127;
}
