
/* ===============menubarner================= */
.banner
{
    margin-top: 20px;
    width: 1200px;
    height: 336px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: auto 392px;
}
.banner img
{
    border-radius: 10px;
    cursor: pointer;
}
.item-1
{
    width: 830px;
    height: 316.16px;
    grid-row-start: 1;
    grid-row-end: 3;
}
/* ===============menubarner================= */
.small-banner
{
    margin-top: 10px;
    height: 336px;
    display: grid;
    grid-template-columns: repeat(4, 297px); 
    column-gap: 20px;
}
.small-banner img
{
    border-radius: 10px;
    cursor: pointer;
}
.menu-item
{
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    width: 1200px;
    height: 100px;
}
.menu-item>.item>img
{
    width: 46px;
    height: 46px;
    cursor: pointer;
}
.menu-item>.item
{
    font-size:14px;
    font-weight: 600;
    text-align: center;
}
/* =====================flash-sale============== */
.menu-flashsale {
    margin-top: 20px;
    padding-top: 20px;
    background-image: url('image/flash_sale_background_image.webp'); /* Thay 'your-image-url.jpg' bằng URL của hình ảnh */
    width: 100%;
    height: 450.29px; /* Chiều cao của menu */
}
.flashsale-content
{
    max-width: 1200px;
    margin: auto;
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: auto auto auto auto auto;
}
.flashsale-content > .flashsale-content-title
{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 1260px;
    height: 62px;
    grid-column-start: 1;
    grid-column-end: 6;
}
.flashsale-content > .flashsale-content-title >img
{
    position: absolute;
    width: 128.7px;
    height: 26px;
    left: 30px;
    top:17px
}

.flashsale-content > .flashsale-content-column
{
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 232.4px;
    height: 328.3px;  
}
.flashsale-content > .flashsale-content-column>img
{
    position: absolute;
    left: 20px;
    top: 10px;
    width: 190px;
    height: 190px;
    cursor: pointer;
}
.flashsale-content > .flashsale-content-column>p:nth-child(2)
{
    position: absolute;
    font-size: 14px;
    text-align: left;
    bottom: 75px;
    left:10px;
    cursor: pointer;
}
.flashsale-content > .flashsale-content-column>p:nth-child(3)
{
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color:#C92127;
    bottom: 45px;
    left:10px
}
.flashsale-content > .flashsale-content-column>p:nth-child(5)
{
    position: absolute;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color:#888888;
    bottom: 25px;
    text-decoration: line-through;
    left:10px
}
.flashsale-content > .flashsale-content-column >p:nth-child(6)
{
    position: absolute;
    width: 210px;
    height: 15px;
    background-color: #c1c1c1;
    border-radius: 5px;
    font-size: 13px;
    color: #ffffff;
    bottom: 0;
    left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.flashsale-content > .flashsale-content-column > span {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #C92127;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    bottom: 61px;
    left: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* =====================flash-sale============== */

.menu-list
{
    position: relative;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.menu-list>.menulist-title
{
    position: absolute;
    border-bottom: #C92127 solid 2px;
    height: 30px;
    left: 30px;
    top: 40px;
    font-size: 14px;
    font-weight: bold;
    color:#C92127;
    cursor: pointer;

}
.menu-list > .menulist-content {
    position: absolute;
    display: grid;
    border-top: #888888 solid 1px;
    top: 42px;
    width: 100%;
    height: auto;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
}

.menulist-column {
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 236px;
    height: 336px;
    font-size: 50px;
    text-align: center;
}
.menulist-seemore
{
    position: absolute;
    bottom:-25px;
    text-align: center;
    line-height: 35px;
    left: 325px;
}
/* ======================================STLYLE=============================================== */
.img-style-1
{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 195px;
    height: 190px;
    cursor: pointer;
}
.text-style-1
{
    position: absolute;
    font-size: 14px;
    text-align: left;
    bottom: 75px;
    left:10px;
    cursor: pointer;
}
.text-style-2
{
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color:#C92127;
    bottom: 45px;
    left:10px
}
.text-style-3
{
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #C92127;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    color: #ffffff;
    bottom: 46px;
    left: 90px;

    display: flex;
    justify-content: center;
    align-items: center;   
}
.text-style-4
{
    position: absolute;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    color:#888888;
    bottom: 25px;
    text-decoration: line-through;
    left:10px
}
/* ================================================================================================= */
/* DANH MUC SAN PHAM */
.menu-product
{
    position: absolute;
    display: grid;
    border-top: #888888 solid 1px;
    top: 42px;
    left:20px;
    width: 1220px;
    height: auto;
    column-gap: 10px;
    margin-top: 20px;
    grid-template-columns: repeat(10, auto);
}
.item-product
{
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
    width: auto;
    height: 200px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}
/* ================================================================================================= */
/* Danh Sach Ban Chay */
.block-vote {
    margin: 10px auto;
    padding: 20px;
    width: 100%; 
    max-width: 1264px; 
    background-color: white;
    display: flex; 
    flex-direction: column; 
    position: relative;
}

.block-vote .header-vote {
    height: 56px;
    top: -20px;
    left: -20px;
    position: relative; 
    background-color: #2E334B;
    color: #ffffff;
    width: 103%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: left; 
    line-height: 38px; 
}

.block-vote .header-menu-content {
    text-align: left;
    margin: 0px 0px 5px; 
    display: flex; 
    list-style-type: none; 
    padding: 0; 
    font-size: 14px; 
}

.block-vote .header-menu-content li {
    display: inline-block; 
    padding: 5px 10px; 
}

.block-vote .header-menu-content li a {
    text-decoration: none; 
    color: #333333; 
    position: relative;
}

.block-vote .header-menu-content li:first-child a {
    color: red; 
}

.block-vote .header-menu-content li a.active {
    color: red; 
}

.block-vote .header-menu-content li a.active::after {
    content: ''; 
    position: absolute;
    bottom: -10px; 
    left: 0; 
    width: 100%; 
    height: 3px; 
    background-color: red; 
}

.block-vote .multibox1 {
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    position: relative;
}

.block-vote .multibox1 .box1 {
    width: 512px; /* Chiều rộng box1 */
    height: 580px;
    border-right: 0.2px solid #bdb7b7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.block-vote .multibox1 .box1 .minibox1 {
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    text-align: left;
}

.block-vote .multibox1 .box1 .minibox1 a {
    display: flex;
    text-decoration: none; 
    align-items: flex-start; 
    gap: 10px; 
}

.block-vote .multibox1 .box1 .minibox1 a > div:first-child {
    display: flex;
    flex-direction: row; 
}

.block-vote .multibox1 .box1 .minibox1 img {
    width: 100px; 
}

.block-vote .multibox1 .box1 .minibox1 i {
    margin-top: 20px;
    margin-left: -15px;
    font-size: 18px; 
}

.block-vote .multibox1 .box1 .content {
    font-size: 14px;
    color: #333333;
    margin-bottom: 10px;
}

.block-vote .minibox2 {
    position: absolute;
    bottom: 250px;
    left: 570px;
    width: 650px; /* Đặt chiều rộng cho box2 */
    height: auto; /* Đặt chiều cao tự động để phù hợp với nội dung */
    font-size: 13px;
    padding: 10px;
    display: flex; /* Sử dụng Flexbox */

}

.block-vote .minibox2 img {
    width: 239px;
    height: 239px;
    margin-right: 10px; /* Khoảng cách giữa ảnh và nội dung */
}



.block-vote .minibox2 .content1 {

    width: auto; /* Để nội dung tự động điều chỉnh chiều rộng */
}
.block-vote .minibox2 .content1 > div:first-of-type {
    /* Thêm các thuộc tính muốn chỉnh sửa cho thẻ div đầu tiên */
    font-size: 18px;
    font-weight: bold; /* Ví dụ: làm đậm chữ */
}
.block-vote .minibox2 .content1 > :nth-of-type(2),
.block-vote .minibox2 .content1 > :nth-of-type(3) {
    /* Thêm các thuộc tính muốn chỉnh sửa cho thẻ div đầu tiên */
    font-size: 14px;
}
.block-vote .minibox2 .content1 > :nth-of-type(4) {
    /* Thêm các thuộc tính muốn chỉnh sửa cho thẻ div đầu tiên */
    font-size: 20px;
    font-weight: bold;
}
.block-vote .minibox2 .content1 .price-container {
    display: flex; /* Để đảm bảo cả hai div nằm trên cùng một hàng */
    flex-direction: row; /* Sắp xếp theo hàng */
    text-align: center; /* Căn giữa nội dung */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.block-vote .minibox2 .content1 .price-container > div {
    position: relative; /* Để cho đường viền có thể định vị chính xác */
}

.block-vote .minibox2 .content1 .price-container .money {
    padding: 5px; /* Khoảng cách trong div */
    margin-right: 10px; /* Khoảng cách bên phải để cách xa % */
}

.block-vote .minibox2 .content1 .price-container .boder {
    position: absolute; /* Định vị tuyệt đối */
    left: 5px; /* Căn trái */
    top: 50%; /* Đặt giữa chiều cao */
    width: 80%; /* Độ dài của đường viền */
    height: 1px; /* Độ dày của đường viền */
    background-color: #2E334B; /* Màu sắc của đường viền */
    transform: translateY(-50%); /* Căn giữa theo chiều dọc */
}


.block-vote .minibox2 .content1 .price-container > :nth-of-type(2) {
    /* Thêm các thuộc tính muốn chỉnh sửa cho thẻ div đầu tiên */
    padding: 5px;
    margin-left: 10px;
    color: #F39845;
    background-color: #FDEAD2;
    font-size: 20px;
    font-weight: bold;
}

